body, html {
    height: 100%;
    font-family: 'Poiret One', cursive;
  }  

.bg{
    background-image: url(../images/qbkls.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: none;
}

.card-header {
    background: white;
}

.card.card {
    background: none;
    display: inline;
} 

.crystal-img {
    height: 75%;
    width: 20%;
}

