body, html {
    height: 100%;
    font-family: 'Poiret One', cursive;
  }  

.bg{
    background-image: url(../images/qbkls.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {
    background: none;
}

.card-header {
    background: white;
}

.card.card {
    background: none;
    display: inline;
} 

/* for some reason only having the double styling in the css and in the html on the buttons made the appear normally */
.btn {
    height: 20%;
    width: 20%;
}

